h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
* {
    box-sizing: border-box;
}
a {
    color: inherit;
}

sup {
    vertical-align: super;
    font-size: smaller;
  }

html, body {
    background: #000000;

    // background-repeat: no-repeat;
    // background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Cerian', sans-serif;
    font-size: 18px;
    // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://linkstorage.linkfire.com/medialinks/images/d098735a-8cb2-4eb4-8feb-8d20c3c32af8/artwork-440x440.jpg);
    background-position: bottom;
    background-size: contain;
    filter: blur(5px);
}
#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    > * {
        padding: 15px 20px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            flex: 1 1 auto;
            font-weight: 300;
            letter-spacing: 0.04em;
            margin-bottom: .3em;
        }
        ul li {
            margin: 3px;
            display: inline-block;
        }
    }
    main {
        flex: 1 1 auto;
        position: relative;
        display: flex;
        padding: 0;
        .container {
            margin: auto;
            text-align: center;
            h2 {
                font-size: 4em;
                letter-spacing: .3em;
                padding: 0 1em;
                img {
                    width: 100%;
                    max-width: 330px;
                    box-shadow: 0 -2px 10px 2px #eeeeee;
                }
            }
            p {
                padding: 1em 50px;                
                text-transform: uppercase;
                letter-spacing: .04em;
                sup {
                    text-transform: lowercase;
                }
            }
            .countdown {
                font-size: 3em;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                margin-top: 0.35em;
                span:after {
                    margin-top: 0.3em;
                    font-size: 0.35em;
                    display: block;
                }
                .days:after {
                    content: "days";
                }
                .hours:after {
                    content: "hours";
                }
                .minutes:after {
                    content: "minutes";
                }
                .seconds:after {
                    content: "seconds";
                }
            }
        }
    }
    footer {
        text-align: center;
        a { color: #ffffff;}
    }
}

footer .spacer {
    display: block;
    height: 0.3em;
}

@media (min-width: 600px) {
    header {
        flex-direction: row !important;
        h1 {
            margin: 0 !important;
        }
    }
    footer .spacer {
        display: inline-block;
        &:after {
            content: "•";
        }
    }
}

.card {
    background: transparent !important;
    img {
        max-width: 100%;
    }
    .container {
        position: relative;
    }
    .countdown {
        background: transparent !important;
        position: relative;
        padding: 0.35em 0;
        margin-top: 0.5em !important;
        span {
            z-index: 2;        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: url(https://linkstorage.linkfire.com/medialinks/images/d098735a-8cb2-4eb4-8feb-8d20c3c32af8/artwork-440x440.jpg);
            background-size: 110%;
            background-position: bottom;
            filter: blur(3px);
        }
    }
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }